{%extends 'core/base.html'%}

{% block title %} New Password {% endblock %}

{%block content%}

<div class="w-1/2 my-6 mx-auto p-6 bg-slate-800 rounded-xl">
	<h2 class="mb-6 text-3xl">Password Reset Confirm</h2>

	<form method="post" action=".">
	    {% csrf_token %}
	
	    {% for field in form %}
			<div class="mb-3">
	    		<label class="inline-block mb-2">{{ field.label_tag }}</label><br>
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
			</div>
		{% endfor %}
	  
	  <div class="mt-5 flex">
	    <button type="submit" class="px-6 py-3 text-sm font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Reset Password</button>
	  </div>
	</form>
</div>

{%endblock content%}